body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    margin: 20px 0;
    color: #333;
}

canvas {
    margin-top: 20px;
    cursor: pointer;
    /* 移除默认的边框 */
    border: none;
}

#status {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}